<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumbab.project">

	<select id="selectAll"
			resultType="com.sumbab.project.stroreview.StoreVo">
		SELECT * FROM STORE
	</select>

	<select id="selectOne" parameterType="Integer"
		resultType="com.sumbab.project.stroreview.StoreVo">
		SELECT count(*) over() as totalcount, store_num, name, address,
		citycode, districtcode, phone,
		menu, time, etc, count, reserving,
		picture FROM
		store WHERE store_num =
		#{store_num,jdbcType=VARCHAR}
	</select>

	<select id="nearbycafe" parameterType="Integer"
		resultType="com.sumbab.project.stroreview.StoreVo">
		SELECT * FROM store
		WHERE districtcode
		=(SELECT districtcode
		FROM store WHERE
		store_num = #{store_num}) and classify = '카페'

	</select>

	<select id="nearbyrestaurant" parameterType="Integer"
		resultType="com.sumbab.project.stroreview.StoreVo">
		SELECT * FROM store
		WHERE districtcode
		=(SELECT districtcode
		FROM store WHERE
		store_num = #{store_num}) and classify = '음식점'

	</select>


	<!-- =================================================== -->
	<!-- 리뷰 테이블 부분 -->


	<resultMap
		type="com.sumbab.project.review.ReviewVo" id="ReviewMap">
		<id column="review_num" property="reviewNum" />
		<id column="id" property="id" />
		<id column="star" property="star" />
		<id column="content" property="content" />
		<id column="regdate" property="regdate" />
		<id column="picture" property="picture" />
	</resultMap>

	<select id="selectReviews" parameterType="map"
		resultMap="ReviewMap">
		SELECT *
		FROM (SELECT ROW_NUMBER() OVER(PARTITION BY
		STORE_NUM ORDER BY REVIEW_NUM)
		RNUM
		, REVIEW_NUM
		, ID
		, STAR
		, CONTENT
		,
		REGDATE
		, PICTURE
		FROM REVIEW
		WHERE STORE_NUM = #{store_num}
		)
		WHERE RNUM
		BETWEEN #{startNum} AND #{endNum}
	</select>

	<!-- 뽑아져나온 전체 리뷰수를 알아야 페이지 수를 정하니까 reviewCount함 -->
	<select id="reviewCount" parameterType="java.lang.Integer"
		resultType="java.lang.Integer">
		SELECT COUNT(*) AS CNT
		FROM REVIEW
		WHERE STORE_NUM =
		#{store_num}
	</select>


	<select id="selectReviewsPaging" parameterType="map"
		resultMap="ReviewMap">
		SELECT *
		FROM (SELECT ROW_NUMBER() OVER(PARTITION BY
		STORE_NUM ORDER BY REVIEW_NUM)
		RNUM
		, REVIEW_NUM
		, ID
		, STAR
		, CONTENT
		,
		REGDATE
		, PICTURE
		FROM REVIEW
		WHERE STORE_NUM = #{store_num}
		)
		WHERE RNUM
		BETWEEN #{startNum} AND #{endNum}
	</select>

	<resultMap type="com.sumbab.project.stroreview.StoreVo"
		id="StoreMap">
		<id column="address" property="address" />
		<id column="name" property="name" />
	</resultMap>


	<select id="selectAllAddress"
		resultType="com.sumbab.project.stroreview.StoreVo">
		SELECT name, address FROM STORE
	</select>

	<!-- ======================================================================================================================================== -->


	<insert id="insertWarning"
		parameterType="com.sumbab.project.warning.WarningDto">
		insert into WARNING (warning_num, review_num, reason,
		reporter, regdate)
		values(warning_seq.nextval, #{reviewNum}, #{reason},
		#{reporter},
		sysdate)
	</insert>
	<!-- ========================================================================================================= -->
	<!-- 조회수 증가 -->
	<update id="upReadCount" parameterType="Integer">
		UPDATE STORE SET count =
		count+1
		WHERE STORE_NUM=#{storeNum}
	</update>

	<!-- ========================================================================================================================== -->
	<select id="getAvgStar" parameterType="Integer"
		resultType="Float">
		select avg(STAR) from REVIEW where STORE_NUM=#{storeNum}
	</select>

	<select id="getAvgRevisit" parameterType="Integer"
		resultType="float">
		select
		((select count(*) from REVIEW where
		STORE_NUM=#{storeNum} and REVISIT='1')/
		(select count(*) from REVIEW
		where STORE_NUM=#{storeNum}))
		from dual
	</select>
	<!-- ========================================================================================================================== -->
	<select id="selectTagByStore" parameterType="Integer"
		resultType="com.sumbab.project.tag.Tag">
		select distinct TAG.*
		from TAG
		join STORE_TAG on TAG.TAG_ID =
		STORE_TAG.TAG_ID
		where STORE_TAG.STORE_NUM = #{storeNum}
	</select>

	<select id="selectTagByReview" parameterType="Integer"
		resultType="String">
		select TAG.TAG_NAME
		from TAG
		join REVIEW_TAG on TAG.TAG_ID =
		REVIEW_TAG.TAG_ID
		where REVIEW_TAG.REVIEW_NUM = #{reviewNum}
	</select>

	<select id="selectReviewNumList" parameterType="Integer"
		resultType="Integer">
		select REVIEW_TAG.REVIEW_NUM
		from REVIEW_TAG
		join REVIEW on
		REVIEW.REVIEW_NUM = REVIEW_TAG.REVIEW_NUM
		where REVIEW.STORE_NUM =
		#{storeNum}
	</select>
	<!-- ========================================================================================================== -->
	<select id="bringPick" parameterType="String"
		resultType="Integer">
		select store_num from PICK where id=#{id}
	</select>

	<insert id="addPick" parameterType="com.sumbab.project.pick.PickVo">
		insert into PICK (id, store_num) values(#{id}, #{storeNum})
	</insert>


</mapper>